.hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background: #000000;
}



a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* Specific class for custom links */
.custom-link {
  text-decoration: none;
  color: inherit;
}

.custom-link:hover,
.custom-link:focus {
  text-decoration: none;
  color: inherit;
}

/* Specific styling for links within table cells */
.link a {
  text-decoration: none;
  color: inherit;
}

.link a:hover,
.link a:focus {
  text-decoration: none;
  color: inherit;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  color: #fff;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #4b4b4b;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.footer {
  background: #1a1a1a;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Logo styling and animation */
.footer .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transform: translateX(-50px);
  animation: logoAppear 1s forwards;
}


/* Animation keyframes for logo */
@keyframes logoAppear {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Section styling */
.footer .section {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(30px);
  animation: fadeInRight 1s forwards;
}

/* Animation keyframes for text */
@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Link styling */
.footer .link {
  color: #ffc30d;
  text-decoration: none;
}

/* Quick links list styling */
.footer .quick-links ul {
  list-style: none;
  padding: 0;
}

.footer .quick-links li {
  margin: 5px 0;
}

/* Contact info styling */
.footer .contact-info a {
  color: #ffc30d;
}

/* Copyright styling */
.footer .copyright {
  margin-top: 20px;
}

.footerlogo {
  width: 160px;
}

